@font-face {
	font-family: 'JosefinSlabRegular';
	src: url('/fonts/josefin/JosefinSlab-Regular-webfont.eot');
	src: local('!'), url('/fonts/josefin/JosefinSlab-Regular-webfont.woff') format('woff'), url('/fonts/josefin/JosefinSlab-Regular-webfont.ttf') format('truetype'), url('/fonts/josefin/JosefinSlab-Regular-webfont.svg#webfonteLSPYN56') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'JosefinSlabBold';
	src: url('/fonts/josefin/JosefinSlab-Bold-webfont.eot');
	src: local('!'), url('/fonts/josefin/JosefinSlab-Bold-webfont.woff') format('woff'), url('/fonts/josefin/JosefinSlab-Bold-webfont.ttf') format('truetype'), url('/fonts/josefin/JosefinSlab-Bold-webfont.svg#webfontJdkZPQ7q') format('svg');
	font-weight: normal;
	font-style: normal;
}